<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PS31892_TruongMinhThien_ASM/ps31892-ASM
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
